
.nofren{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    color: rgb(13, 13, 13);
}



section>img{

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}

.api{
    border-top: 5px solid white;
    
}

.api>img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 250px;

}

h6{
    color: rgb(10, 11, 10);
    font-style: normal;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}